# Assignment 1
### Understanding Uncertainty
### Due 9/5

1. Create a new public repo on Github under your account. Include a readme file.
2. Clone it to your machine. Put this file into that repo.
3. Use the following function to download the example data for the course:

In [9]:
def download_data(force=False):
    """Download and extract course data from Zenodo."""
    import urllib.request, zipfile, os
    
    zip_path = 'data.zip'
    data_dir = 'data'
    
    if not os.path.exists(zip_path) or force:
        print("Downloading course data")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/16954427/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")
    else:
        print("Download file already exists")
        
    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")
    else:
        print("Data directory already exists")

download_data()

Download file already exists
Data directory already exists

4. Open one of the datasets using Pandas:
    1. `ames_prices.csv`: Housing characteristics and prices
    2. `college_completion.csv`: Public, nonprofit, and for-profit educational institutions, graduation rates, and financial aid
    3. `ForeignGifts_edu.csv`: Monetary and in-kind transfers from foreign entities to U.S. educational institutions
    4. `iowa.csv`: Liquor sales in Iowa, at the transaction level
    5. `metabric.csv`: Cancer patient and outcome data
    6. `mn_police_use_of_force.csv`: Records of physical altercations between Minnessota police and private citizens
    7. `nhanes_data_17_18.csv`: National Health and Nutrition Examination Survey
    8. `tuna.csv`: Yellowfin Tuna Genome (I don't recommend this one; it's just a sequence of G, C, A, T )
    9. `va_procurement.csv`: Public spending by the state of Virginia

In [12]:
import pandas as pd
import os
print(os.path.abspath('data'))
iowa_data = pd.read_csv("data/iowa.csv")
iowa_data.head()

c:\Users\wanns\OneDrive\Desktop\Coding\MSDS\Understanding-Uncertainty\data

,Invoice/Item Number,Date,Store Number,Store Name,Zip Code,Category Name,Vendor Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars)
0,INV-59108400026,06/06/2023,3723,J D SPIRITS LIQUOR,51040,STRAIGHT RYE WHISKIES,INFINIUM SPIRITS,27102,TEMPLETON RYE 4YR,750,18.09,27.14,2,54.28
1,S16879800057,01/16/2014,3926,LIQUOR DOWNTOWN / IOWA CITY,52240,VODKA 80 PROOF,HEAVEN HILL BRANDS,35416,BURNETT'S VODKA 80 PRF,750,4.84,7.26,12,87.12
2,INV-05301100019,06/05/2017,3829,GARY'S FOODS / MT VERNON,52314,CANADIAN WHISKIES,DIAGEO AMERICAS,11296,CROWN ROYAL,750,15.59,23.39,6,135.66
3,INV-40973500083,10/14/2021,5102,WILKIE LIQUORS,52314,AMERICAN SCHNAPPS,JIM BEAM BRANDS,82787,DEKUYPER BUTTERSHOTS,1000,7.87,11.81,12,141.72
4,INV-17022500013,01/18/2019,2560,HY-VEE FOOD STORE / MARION,52302,WHISKEY LIQUEUR,SAZERAC COMPANY INC,64863,FIREBALL CINNAMON WHISKEY,200,2.50,3.75,12,45.00

5. Pick two or three variables and briefly analyze them
    - Is it a categorical or numeric variable?
    - How many missing values are there? (`df['var'].isna()` and `np.sum()`)
    - If categorical, tabulate the values (`df['var'].value_counts()`) and if numeric, get a summary (`df['var'].describe()`)

In [20]:
print(pd.DataFrame([[iowa_data['Category Name'].dtype, iowa_data['Item Description'].dtype, iowa_data['Bottles Sold'].dtype], ['categorical', 'categorical', 'numeric'], [iowa_data['Category Name'].isna().sum(), iowa_data['Item Description'].isna().sum(), iowa_data['Bottles Sold'].isna().sum()]], columns=['Category Name', 'Item Description', 'Bottles Sold'], index=['dtype', 'variable type', 'total missing values']), '\n', iowa_data['Category Name'].value_counts(), '\n', iowa_data['Item Description'].value_counts(), '\n', iowa_data['Bottles Sold'].describe())

                     Category Name Item Description Bottles Sold
dtype                       object           object        int64
variable type          categorical      categorical      numeric
total missing values           133                0            0
 Category Name
AMERICAN VODKAS              16611
CANADIAN WHISKIES            15280
STRAIGHT BOURBON WHISKIES    10416
WHISKEY LIQUEUR               7789
SPICED RUM                    7379
                             ...
ROCK & RYE                      14
LOW PROOF VODKA                 11
ANISETTE                         7
WHITE CREME DE MENTHE            6
AMARETTO - IMPORTED              2
Name: count, Length: 92, dtype: int64
 Item Description
BLACK VELVET                          3994
HAWKEYE VODKA                         3460
TITOS HANDMADE VODKA                  2648
FIREBALL CINNAMON WHISKEY             2500
FIVE O'CLOCK VODKA                    2013
                                      ...
HENDRICKS W/CUCUMBER CURLER              1
DON JULIO 3X375ML                        1
HA ELIJAH CRAIG 18YR SINGLE BARREL       1
PRICHARDS PRALINE CREAM LIQUEUR          1
THREE OLIVES PURPLE VODKA                1
Name: count, Length: 5401, dtype: int64
 count    159904.000000
mean         10.883336
std          28.042635
min         -60.000000
25%           3.000000
50%           6.000000
75%          12.000000
max        2400.000000
Name: Bottles Sold, dtype: float64

6. What are some questions and prediction tools you could create using these data? Who would the stakeholder be for that prediction tool? What practical or ethical questions would it create? What other data would you want, that are not available in your data?

I could perhaps see given the category of the liquor and a description, the estimated numbers of bottles it will sell, although the predictive power would probably not be great with only these couple variables. The stakeholder in this case would be liquor stores interested in best-selling brands to keep their inventory at proper levels. Practical questions it would create is whether or not it could be accurate enough to actually be used without having more information like geographical data. An ethical concern one might have is whether it is proper to try and promote the sale of more liquor when alcoholism is a real problem for many people. Relating back to the practical question, geographical data would definitely be nice like the zip code in the original data. If we are considering outside the original data as well and not just the 3 selected variables, I think data on alchohol content (can derive from category and description but not inherently given in data already) would help because alcohol with less alcohol content tend to be bought more often since it doesnt last as long (higher alcohol content usually uses less volume and is mixed).

7. Commit your work to the repo (`git commit -am 'Finish assignment'` at the command line, or use the Git panel in VS Code). Push your work back to Github and submit the link on Canvas in the assignment tab.